@import compass

$default-font: Helvetica, sans-serif
$color-link: #6da4b2

.release-link-wrap
  +float-left
  position: relative

.release-link
  font-family: $default-font
  padding: 0 24px 48px 0
  width: auto

.release-thumb
  display: block
  width: 272px
  height: 272px

.release-date
  padding: 16px 0 3px