<?= it.partial( it._assets ) ?>

<? it.title = '三十而立 sincerely music | 藝人'; ?>
<? it.nav_selected = 'artists'; ?>

<div id="artists">
  <div id="artists-entries">
    <? if ( it.is_authenticated ){ ?>
      <a href="/" id="btn-add">ADD NEW ENTRY</a>
    <? } ?>

    <? var entries = [ '', '', '' ]; ?>

    <? entries.forEach( function ( entry ){ ?>
      <div class="news-entry">
        <h3 class="news-entry-title">
          <a href="/artists/show" class="news-entry-title-link" title="">流亞定合大前流亞定合大前流亞定合大前流亞定合大前流亞定合大前流亞定合大前流亞定合大前</a>
        </h3>
        <p>是此參、清路他，市論的放市館在只黑聲，取舞全印面，旅我遠電市身年全。氣毒一去好福那身相時樂眼遊看，西影才構去：一到究！界人一，的隊天；步樣香不往心的，不色家大還是打法加算們父數是，動物車，市論的放市館在只黑聲，取舞全印面，旅我遠電市身年全。氣毒一去好福那身相時樂眼遊看，西影才構去：一到究！界人一，的隊天；步樣香不往心的，不色家大還是打法加算們父數是，市論的放市館在只黑聲，取舞全印面，旅我遠電市身年全。氣毒一去好福那身</p>

        <p>是此參、清路他，市論的放市館在只黑聲，取舞全印面，旅我遠電市身年全。氣毒一去好福那身相時樂眼遊看，西影才構去：一到究！界人一，的隊天；步樣香不往心的，不色家大還是打法加算們父數是，動物車，市論的放市館在只黑聲，取舞全印面，旅我遠電市身年全。氣毒一去好福那身相時樂眼遊看，西影才構去：一到究！界人一，的隊天；步樣香不往心的，不色家大還是打法加算們父數是，市論的放市館在只黑聲，取舞全印面，旅我遠電市身年全。氣毒一去好福那身</p>

        <a href="/news/show" class="news-thumb-link">
          <img class="news-thumb" src="/img/home/news-thumb.jpeg" alt="thumb">
        </a>
        <? if( it.is_authenticated ){ ?>
          <form class="delete-form" action="/admin/artists" method="POST" accept-charset="UTF-8" >
            <input type="hidden" name="_method" value="delete" />
            <input type="hidden" name="_csrf" value="<?= it.csrf ?>" />
            <input class="btn-delete" type="submit" value="DELETE THIS ENTRY" />
          </form>
        <? } ?>
      </div>
    <? }); ?>
  </div>
  <div id="nav-wrap">
    <a id="btn-prev" href="/" title="Previous page">prev</a>
    <a id="btn-next" href="/" title="Next page">next</a>
  </div>
</div>