<? it.styles.push.apply( it.styles, it._assets ); ?>

<? it.nav_selected = 'artists'; ?>

<div id="main">
  <div id="artist-intro-wrap">
    <div class="artists-entry">
      <h2 id="artists-entry-title"><?= it.artist.name ?></h2>

      <div id="artist-intro">
        <?= it.markdown( it.artist.desc ) ?>
      </div>
    </div>
    <div id="social-links">
      <? it.artist.links.forEach( function ( link, index ){ ?>
        <? if( link.title && link.url ){ ?>
          <a class="social-link" href="<?= link.url ?>"><?= link.title ?></a>
        <? } ?>
      <? }); ?>
    </div>
  </div>

  <div id="news">
    <h2 id="news-title" class="title">
      <a id="news-title-link" class="block-title" href="<?= it.namespace ?>/news?artist=<?- it.artist.name ?>">LATEST NEWS</a>
    </h2>

    <?= it.show_no_content_err( it.posts ) ?>
    <? it.posts.forEach( function ( post ){ ?>
      <div class="news-entry">
        <h3 class="news-entry-title">
          <a href="<?= it.namespace ?>/news/<?= post._id ?>" class="news-entry-title-link" title="See more about <?= post.title ?>"><?= post.title ?></a>
        </h3>

        <?= it.markdown( post.content ) ?>

        <p class="news-date"><?= it.date( post.created_at )?></p>
        <? if( post.cover ){ ?>
          <a href="<?= it.namespace ?>/news/<?= post._id ?>" class="news-thumb-link">
            <img class="news-thumb" src="<?= post.cover ?>" alt="thumb">
          </a>
        <? } ?>
      </div>
    <? }); ?>
  </div>
  <div id="videos">
    <h2 id="videos-title" class="title">
      <a id="videos-title-link" class="block-title" href="<?= it.namespace ?>/videos?artist=<?- it.artist.name ?>">NEW VIDEOS</a>
    </h2>

    <div id="videos-list">
      <?= it.show_no_content_err( it.videos ) ?>
      <? it.videos.forEach( function ( video ){ ?>
        <a class="video-link" href="<?= video.url ?>" title="前往 YouTube 觀看 '<?= video.title ?>'">
          <img class="video-thumb" src="<?= video.thumb ?>" alt="影片縮圖">
        </a>
      <? }); ?>

      <? if( it.videos.length >= 2 ){ ?>
        <a id="videos-more" class="btn-more" href="<?= it.namespace ?>/videos?artist=<?- it.artist.name ?>">More</a>
      <? } ?>
    </div>
  </div>
  <? if( it.is_authenticated ){ ?>
    <a href="/admin/artists/<?= it.artist._id ?>/edit" id="link-edit">EDIT THIS ENTRY</a>
    <form class="form-delete" action="/admin/artists/<?= it.artist._id ?>" method="POST" accept-charset="UTF-8">
      <input type="hidden" name="_method" value="delete" />
      <input type="hidden" name="_csrf" value="<?= it.csrf ?>" />
      <input class="btn-delete" type="submit" value="DELETE THIS ENTRY" />
    </form>
  <? } ?>
</div>

<div id="sidebar">
  <div id="releases">
    <h2 id="release-title" class="title">
      NEW RELEASES
    </h2>

    <div id="releases-list">
      <?= it.show_no_content_err( it.releases ) ?>
      <? it.releases.forEach( function ( release ){ ?>
        <a href="<?= it.namespace ?>/releases/<?= release._id ?>" class="release-link">
          <img class="release-thumb" src="<?= release.cover ?>" alt="thumb">
          <p class="release-date"><?= release.release_date ?></p>
          <h3 class="release-title"><?= release.name ?></h3>
        </a>
      <? }); ?>

      <? if( it.releases.length >= 3 ){ ?>
        <a id="releases-more" href="<?= it.namespace ?>/releases?artist=<?- it.artist.name ?>">more</a>
      <? } ?>
    </div>
  </div>
</div>