/* line 6, ../../../app/sass/releases/index.sass */
.release-link-wrap {
  display: inline;
  float: left;
  position: relative;
}

/* line 10, ../../../app/sass/releases/index.sass */
.release-link {
  font-family: Helvetica, sans-serif;
  padding: 0 24px 48px 0;
  width: auto;
}

/* line 15, ../../../app/sass/releases/index.sass */
.release-thumb {
  display: block;
  width: 272px;
  height: 272px;
}

/* line 20, ../../../app/sass/releases/index.sass */
.release-date {
  padding: 16px 0 3px;
}
