/* line 11, ../../../app/sass/releases/show.sass */
#main {
  width: 600px;
}

/* line 14, ../../../app/sass/releases/show.sass */
#sidebar {
  width: 232px;
}

/* line 17, ../../../app/sass/releases/show.sass */
#release-cover {
  display: block;
  width: 232px;
  height: 232px;
  padding: 0 0 16px;
}

/* line 23, ../../../app/sass/releases/show.sass */
#artist, #release-name {
  font-family: serif;
  font-size: 24px;
  line-height: 28px;
  color: black;
  margin: 0 0 8px;
}

/* line 30, ../../../app/sass/releases/show.sass */
#release-date {
  display: block;
  margin: 12px 0 32px;
  color: #6da4b2;
  font-family: Helvetica, sans-serif;
}

/* line 36, ../../../app/sass/releases/show.sass */
#release-intro {
  padding: 0 0 48px;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
}
/* line 40, ../../../app/sass/releases/show.sass */
#release-intro h1 {
  font-family: serif;
  font-size: 24px;
  line-height: 28px;
  color: black;
  margin: 0 0 16px;
}
/* line 46, ../../../app/sass/releases/show.sass */
#release-intro p, #release-intro h2, #release-intro h3, #release-intro h4, #release-intro h5, #release-intro h6 {
  margin: 0 0 24px;
  line-height: 1.5em;
}
/* line 49, ../../../app/sass/releases/show.sass */
#release-intro img {
  display: block;
  margin: 0 auto 24px;
  max-width: 600px;
  max-height: 600px;
}
/* line 54, ../../../app/sass/releases/show.sass */
#release-intro a {
  color: #6da4b2;
  text-decoration: none;
}
/* line 57, ../../../app/sass/releases/show.sass */
#release-intro a:hover {
  text-decoration: underline;
}
/* line 59, ../../../app/sass/releases/show.sass */
#release-intro strong {
  font-weight: bold;
}
/* line 61, ../../../app/sass/releases/show.sass */
#release-intro em {
  font-style: italic;
}
/* line 63, ../../../app/sass/releases/show.sass */
#release-intro ul {
  margin: 0 0 16px 64px;
  line-height: 1.5em;
}
/* line 66, ../../../app/sass/releases/show.sass */
#release-intro ul li {
  list-style-type: disc;
}
/* line 68, ../../../app/sass/releases/show.sass */
#release-intro ol {
  margin: 0 0 16px 64px;
  line-height: 1.5em;
}
/* line 71, ../../../app/sass/releases/show.sass */
#release-intro ol li {
  list-style-type: decimal;
}

/* line 74, ../../../app/sass/releases/show.sass */
#songs {
  border-top: 1px dotted #6da4b2;
}

/* line 77, ../../../app/sass/releases/show.sass */
.songs-item {
  border-bottom: 1px dotted #6da4b2;
  position: relative;
  padding: 14px 0 14px 48px;
}

/* line 82, ../../../app/sass/releases/show.sass */
.song-link {
  display: block;
  width: 400px;
  background: url('/img/releases/btn-play@2x.png?1359778345') no-repeat left 3px;
  background-size: 12px auto;
  padding: 0 0 0 30px;
  text-decoration: none;
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
}
/* line 93, ../../../app/sass/releases/show.sass */
.song-link:hover {
  color: #6da4b2;
}

/* line 96, ../../../app/sass/releases/show.sass */
.song-number {
  position: absolute;
  top: 17px;
  left: 10px;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  color: #555555;
}

/* line 104, ../../../app/sass/releases/show.sass */
.song-length {
  position: absolute;
  top: 17px;
  right: 84px;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  color: #555555;
}

/* line 112, ../../../app/sass/releases/show.sass */
.song-itunes-link {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background: url('/img/releases/itunes-badge@2x.jpg?1359778345') no-repeat top left;
  background-size: 44px auto;
  width: 44px;
  height: 13px;
  position: absolute;
  top: 17px;
  right: 8px;
  opacity: 0.7;
}
/* line 122, ../../../app/sass/releases/show.sass */
.song-itunes-link:hover {
  opacity: 1;
}
