<div class="form-block-wrap">
  <div class="form-tips-wrap">
    <label id="label-order" class="form-label" for="input-order">曲順*</label>
  </div>

  <input id="input-order" type="text" name="order">
</div>
<div class="form-block-wrap">
  <div class="form-tips-wrap">
    <label id="label-name" class="form-label" for="input-name">曲名*</label>
  </div>

  <input id="input-name" type="text" name="name">
</div>
<div id="form-block-duration" class="form-block-wrap">
  <div class="form-tips-wrap">
    <label id="label-duration" class="form-label" for="input-duration">歌曲長度*</label>
  </div>

  <input id="input-duration" type="text" name="duration">
</div>
<div id="form-block-itunes" class="form-block-wrap">
  <div class="form-tips-wrap">
    <label id="label-itunes" class="form-label" for="input-itunes">iTunes 歌曲連結</label>
    <span class="form-tip">*為必填</span>
  </div>

  <input id="input-itunes" type="text" name="itunes">
</div>
<div class="form-block-wrap">
  <div class="form-tips-wrap">
    <label id="label-soundcloud" class="form-label" for="input-soundcloud">SoundCloud 試聽連結</label>
  </div>

  <input id="input-soundcloud" type="text" name="soundcloud">
</div>

<div id="btns-wrap">
  <a id="content-link-cancel" href="/admin/releases/mongo_id/songs/mongo_id">Cancel</a>
  <input id="btn-submit" type="submit" value="Submit" />
</div>

<p class="error">error message goes here</p>
<p class="error">error message goes here</p>
<p class="error">error message goes here</p>
<p class="error">error message goes here</p>