@import compass

$default-font: Helvetica, sans-serif
$color-link: #6da4b2
$news-els-position-top: 0

.news-entry
  width: 580px
  position: relative
  min-height: 280px
  padding: 24px 0 48px
  img
    display: none
  img.news-thumb
    display: block

.news-date
  top: $news-els-position-top

.news-thumb-link
  position: absolute
  top: $news-els-position-top + 24px
  right: -300px

.news-thumb
  border: none
  position: static
  display: block
  width: 280px
  height: 280px