<input type="hidden" name="_csrf" value="<?= it.csrf ?>" />

<div class="form-block-wrap">
  <label id="label-name" class="form-label" for="input-name">藝人名稱</label>
  <?= it.show_form_err( 'name' ) ?>
  <span class="form-tip">必填</span>
</div>

<input id="input-name" type="text" name="name" value="<?= it.show_ori_body_field( it.ori_body, 'name' )?>">

<div class="form-block-wrap">
  <label id="label-intro" class="form-label" for="input-intro">內文介紹</label>
  <?= it.show_form_err( 'desc' ) ?>
  <span class="form-tip">必填</span>
</div>

<textarea id="input-intro" type="text" name="desc" rows="16"><?= it.show_ori_body_field( it.ori_body, 'desc' )?></textarea>

<div id="links-wrap">
  <div id="link-titles">
    <div class="form-block-wrap">
      <label id="label-name" class="form-label" for="input-name">連結名稱</label>
    </div>
    <input id="input-link-name1" class="input-link" type="text" name="link_name1" value="<?= it.show_ori_link_title( it.ori_body, 0 )?>">
    <input id="input-link-name2" class="input-link" type="text" name="link_name2" value="<?= it.show_ori_link_title( it.ori_body, 1 )?>">
    <input id="input-link-name3" class="input-link" type="text" name="link_name3" value="<?= it.show_ori_link_title( it.ori_body, 2 )?>">
    <input id="input-link-name4" class="input-link" type="text" name="link_name4" value="<?= it.show_ori_link_title( it.ori_body, 3 )?>">
    <input id="input-link-name5" class="input-link" type="text" name="link_name5" value="<?= it.show_ori_link_title( it.ori_body, 4 )?>">
  </div>
  <div id="links">
    <div class="form-block-wrap">
      <label id="label-name" class="form-label" for="input-name">網址</label>
    </div>
    <input id="input-link1" class="input-link" type="text" name="link1" placeholder="http://" value="<?= it.show_ori_link_url( it.ori_body, 0 )?>">
    <input id="input-link2" class="input-link" type="text" name="link2" placeholder="http://" value="<?= it.show_ori_link_url( it.ori_body, 1 )?>">
    <input id="input-link3" class="input-link" type="text" name="link3" placeholder="http://" value="<?= it.show_ori_link_url( it.ori_body, 2 )?>">
    <input id="input-link4" class="input-link" type="text" name="link4" placeholder="http://" value="<?= it.show_ori_link_url( it.ori_body, 3 )?>">
    <input id="input-link5" class="input-link" type="text" name="link5" placeholder="http://" value="<?= it.show_ori_link_url( it.ori_body, 4 )?>">
  </div>
</div>

<div id="links-error-wrap">
  <?= it.show_form_err( 'link1' ) ?>
  <?= it.show_form_err( 'link2' ) ?>
  <?= it.show_form_err( 'link3' ) ?>
  <?= it.show_form_err( 'link4' ) ?>
  <?= it.show_form_err( 'link5' ) ?>
</div>

<div class="form-block-wrap">
  <label id="label-thumb" class="form-label" for="input-thumb">首頁縮圖網址</label>
  <?= it.show_form_err( 'thumb' ) ?>
  <span class="form-tip">最小尺寸需為 280x280 px</span>
</div>

<input id="input-thumb" type="text" name="thumb" placeholder="http://" value="<?= it.show_ori_body_field( it.ori_body, 'thumb' )?>">

<div class="form-block-wrap">
  <label id="label-cover" class="form-label" for="input-cover">內頁大圖網址</label>
  <?= it.show_form_err( 'cover' ) ?>
  <span class="form-tip">最小尺寸需為 912x400 px</span>
</div>

<input id="input-cover" type="text" name="cover" placeholder="http://" value="<?= it.show_ori_body_field( it.ori_body, 'cover' )?>">

<div id="btns-wrap">
  <a id="content-link-cancel" href="/admin/artists/<?= it.show_req_params().id || '' ?>">Cancel</a>
  <input id="btn-submit" type="submit" value="Submit" />
</div>