<?= it.partial( it._assets ) ?>

<? it.title = '三十而立 sincerely music | 影音'; ?>
<? it.nav_selected = 'videos'; ?>

<div id="videos">
  <? if ( it.is_authenticated ){ ?>
    <a href="/admin/videos/new" id="btn-add">ADD NEW ENTRY</a>
  <? } ?>

  <?= it.show_no_content_err( it.videos ) ?>
  <? it.videos.forEach( function ( video ){ ?>
    <div class="video">
      <div class="video-wrap">
        <iframe width="600" height="337" src="https://www.youtube.com/embed/<?= video.youtube_id ?>" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="video-intro">
        <h3 class="video-title">
          <a class="video-link" href="<?= video.url ?>"><?= video.title ?></a>
        </h3>
        <span class="video-date"><?= video.date ?></span>
      </div>
      <? if( it.is_authenticated ){ ?>
        <form class="form-delete" action="/admin/videos/<?= video._id ?>" method="POST" accept-charset="UTF-8">
          <input type="hidden" name="_method" value="delete" />
          <input type="hidden" name="_csrf" value="<?= it.csrf ?>" />
          <input class="btn-delete" type="submit" value="DELETE THIS ENTRY" />
        </form>
      <? } ?>
    </div>
  <? }); ?>
</div>

<div id="nav-wrap">
  <a class="btn-prev <?= it.is_btn_disable( it.qs_prev ) ?>" href="<?= it.namespace ?>/videos<?= it.show_nav_qs( it.qs_prev ) ?>">prev</a>
  <a class="btn-next <?= it.is_btn_disable( it.qs_next ) ?>" href="<?= it.namespace ?>/videos<?= it.show_nav_qs( it.qs_next ) ?>">next</a>
</div>