<?= it.partial( it._assets ) ?>

<? it.title = '三十而立 sincerely music | 影音'; ?>
<? it.nav_selected = 'videos'; ?>

<? var videos = [ '', '', '', '', '' ]; ?>

<div id="videos">
  <? if ( it.is_authenticated ){ ?>
    <a href="/" id="btn-add">ADD NEW ENTRY</a>
  <? } ?>

  <? videos.forEach( function ( video ){ ?>
    <div class="video">
      <div class="video-wrap">
        <iframe width="600" height="337" src="https://www.youtube.com/embed/E6Rd7UE8jQc" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="video-intro">
        <h3 class="video-title">
          <a class="video-link" href="/youtube-link">偷摸大雞 樂團 我也想變成比基尼辣妹 official MV / 偷摸大雞</a>
        </h3>
        <span class="video-date">2012.01.22</span>
      </div>
      <? if( it.is_authenticated ){ ?>
        <form class="form-delete" action="/admin/videos" method="POST" accept-charset="UTF-8">
          <input type="hidden" name="_method" value="delete" />
          <input type="hidden" name="_csrf" value="<?= it.csrf ?>" />
          <input class="btn-delete" type="submit" value="DELETE THIS ENTRY" />
        </form>
      <? } ?>
    </div>
  <? }); ?>
</div>

<div id="nav-wrap">
  <a id="btn-prev" href="/videos/prev">prev</a>
  <a id="btn-next" href="/videos/next">next</a>
</div>