<div id="news">
  <h2 id="news-title" class="title">
    <a id="news-title-link" class="block-title" href="/news">LATEST NEWS</a>
  </h2>

  <? var entries = [ '', '', '' ]; ?>

  <? entries.forEach( function (){ ?>
    <div class="news-entry">
      <h3 class="news-entry-title">
        <a href="/news/show" class="news-entry-title-link" title="">流亞定合大前流亞定合大前流亞定合大前流亞定合大前流亞定合大前</a>
      </h3>
      <p class="news-entry-p">是此參、清路他，<strong>市論的放市館在只黑聲</strong>，取舞全印面，<strong><em>旅我遠電市身年全</em></strong>。氣毒一去好福那身相時樂眼遊看，西影才構去：一到究！界人一，的隊天；步樣香不往心的，不色家大還是打法加算們父數是，動物車</p>
      <p class="news-date">2012.12.10</p>
      <a href="/news/show" class="news-thumb-link">
        <img class="news-thumb" src="/img/home/news-thumb.jpeg" alt="thumb">
      </a>
    </div>
  <? }); ?>
</div>