<div id="releases">
  <h2 id="release-title" class="title">
    <a id="release-title-link" class="block-title" href="/releases">NEW RELEASES</a>
  </h2>

  <div id="releases-list">
    <? var releases = [ '', '', '' ]; ?>

    <? releases.forEach( function (){ ?>
      <a href="/" class="release-link">
        <img class="release-thumb" src="/img/home/release-thumb.jpeg" alt="thumb">
        <p class="release-date">2011</p>
        <h4 class="release-author">偷摸大雞</h4>
        <h3 class="release-title">同名EP</h3>
      </a>
    <? }); ?>

    <a id="releases-more" class="btn-more" href="/">More</a>
  </div>
</div>