<div id="videos">
  <h2 id="videos-title" class="title">
    <a id="videos-title-link" class="block-title" href="/">NEW VIDEOS</a>
  </h2>

  <div id="videos-list">
    <? var entries = [ '', '', '', '', '' ]; ?>

    <? entries.forEach( function (){ ?>
      <a href="/" class="video-link">
        <img class="video-thumb" src="/img/home/videos-thumb.jpeg" alt="thumb">
        <h3 class="video-title">No World</h3>
        <span class="video-by"> by </span>
        <h4 class="video-author">inc.</h4>
        <p class="video-date">Released 18th February</p>
      </a>
    <? }); ?>
  </div>
</div>