<?= it.partial( it._assets ) ?>

<div id="main">
  <div id="news">
    <h2 id="news-title" class="title">
      <a id="news-title-link" class="block-title" href="<?= it.namespace ?>/news">news 新聞</a>
    </h2>
    <? var entries = [ '', '', '' ]; ?>
    <? entries.forEach( function (){ ?>
      <div class="news-entry">
        <h3 class="news-entry-title">
          <a href="<?= it.namespace ?>/news/show" class="news-entry-title-link" title="">流亞定合大前流亞定合大前流亞定合大前流亞定合大前流亞定合大前</a>
        </h3>
        <p class="news-entry-p">是此參、清路他，<strong>市論的放市館在只黑聲</strong>，取舞全印面，<strong><em>旅我遠電市身年全</em></strong>。氣毒一去好福那身相時樂眼遊看，西影才構去：一到究！界人一，的隊天；步樣香不往心的，不色家大還是打法加算們父數是，動物車</p>
        <p class="news-date">2012.12.10</p>
        <a href="<?= it.namespace ?>/news/show" class="news-thumb-link">
          <img class="news-thumb" src="/img/home/news-thumb.jpeg" alt="thumb">
        </a>
      </div>
    <? }); ?>
  </div>
  <div id="releases">
    <h2 id="release-title" class="title">
      <a id="release-title-link" class="block-title" href="<?= it.namespace ?>/releases">NEW RELEASES</a>
    </h2>
    <div id="releases-list">
      <? var releases = [ '', '', '' ]; ?>

      <? releases.forEach( function (){ ?>
        <a href="<?= it.namespace ?>/releases/show" class="release-link">
          <img class="release-thumb" src="/img/home/release-thumb.jpeg" alt="thumb">
          <p class="release-date">2011</p>
          <h4 class="release-author">偷摸大雞</h4>
          <h3 class="release-title">同名EP</h3>
        </a>
      <? }); ?>
      <a id="releases-more" class="btn-more" href="<?= it.namespace ?>/">More</a>
    </div>
  </div>
  <div id="videos">
    <h2 id="videos-title" class="title">
      <a id="videos-title-link" class="block-title" href="<?= it.namespace ?>/videos">NEW VIDEOS</a>
    </h2>

    <div id="videos-list">
      <? var entries = [ '', '' ]; ?>

      <? entries.forEach( function (){ ?>
        <iframe class="video" width="248" height="140" src="https://www.youtube.com/embed/E6Rd7UE8jQc" frameborder="0" allowfullscreen></iframe>
      <? }); ?>

      <a id="videos-more" class="btn-more" href="<?= it.namespace ?>/">More</a>
    </div>
  </div>
</div>

<div id="sidebar">
  <div id="soundcould-player">
    <h3 id="soundcould-player-title">music</h3>
    <iframe
      width="100%"
      height="450"
      scrolling="no"
      frameborder="no"
      src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1983744&amp;color=75d0dc&amp;auto_play=false&amp;show_artwork=true">
    </iframe>
  </div>
  <div id="latest-lives">
    <h3 id="lives-title">live</h3>
    <div id="live-list">
      <? var lives = [ '', '', '', '' ]; ?>

      <? lives.forEach( function ( live ){ ?>
        <!-- remember truncate artist, prevent layout crash -->
        <a href="<?= it.namespace ?>/live/show" class="live-link">
          偷摸大雞 ＠The WALL 偷摸大雞 ＠The WALL 偷摸大雞 ＠The WALL 偷摸大雞 ＠The WALL 偷摸大雞 ＠The WALL<span class="live-date">12.25</span>
        </a>
      <? }); ?>

      <a href="<?= it.namespace ?>/live" id="live-more">more</a>
    </div>
  </div>
  <div id="fb-fanpage">
    <h3 id="fb-fanpage-title">facebook</h3>
    <!-- fb fan page badge embed code goes here -->
  </div>
</div>