<?= it.partial( it._assets ) ?>

<? it.title = '三十而立 sincerely music | 新聞'; ?>
<? it.nav_selected = 'news'; ?>

<div id="news">
  <div id="news-entries">
    <? if ( it.is_authenticated ){ ?>
      <a href="/admin/news/new" id="btn-add">ADD NEW ENTRY</a>
    <? } ?>

    <?= it.show_no_content_err( it.posts ) ?>
    <? it.posts.forEach( function ( post ){ ?>
      <div class="news-entry">
        <h2 class="news-entry-title">
          <a href="<?= it.namespace ?>/news/<?= post._id ?>" class="news-entry-title-link" title="See more about <?= post.title ?>"><?= post.title ?></a>
        </h2>

        <?= it.markdown( post.content ) ?>

        <span class="news-date"><?= it.date( post.created_at )?></span>

        <? if( post.cover ){ ?>
          <a href="<?= it.namespace ?>/news/<?= post._id ?>" class="news-thumb-link">
            <img class="news-thumb" src="<?= post.cover ?>" alt="thumb">
          </a>
        <? } ?>

        <? if( it.is_authenticated ){ ?>
          <form class="form-delete" action="/admin/news/<?= post._id ?>" method="POST" accept-charset="UTF-8">
            <input type="hidden" name="_method" value="delete" />
            <input type="hidden" name="_csrf" value="<?= it.csrf ?>" />
            <input class="btn-delete" type="submit" value="DELETE THIS ENTRY" />
          </form>
        <? } ?>
      </div>
    <? }); ?>
  </div>
  <div id="nav-wrap">
    <a class="btn-prev <?= it.is_btn_disable( it.qs_prev ) ?>" href="<?= it.namespace ?>/news<?= it.show_nav_qs( it.qs_prev ) ?>" title="Previous page">prev</a>
    <a class="btn-next <?= it.is_btn_disable( it.qs_next ) ?>" href="<?= it.namespace ?>/news<?= it.show_nav_qs( it.qs_next ) ?>" title="Next page">next</a>
  </div>
</div>