<? it.styles.push.apply( it.styles, it._assets ); ?>

<div class="news-entry">
  <h3 class="news-entry-title">
    <?= it.post.title ?>
  </h3>

  <?= it.markdown( it.post.content ) ?>

  <? if( it.post.artists.length ){ ?>
    <p>
      相關藝人：
      <? it.post.artists.forEach( function ( artist_name, index ){ ?>
        <a href="<?= it.namespace ?>/news?artist=<?- artist_name ?>" title="與<?= artist_name ?>相關的新聞"><?= artist_name ?></a><?= index == ( it.post.artists.length - 1 ) ? '' : ', ' ?>
      <? }); ?>
    </p>
  <? } ?>

  <span class="news-date"><?= it.date( it.post.created_at )?></span>

  <? if( it.is_authenticated ){ ?>
    <a href="/admin/news/<?= it.post._id ?>/edit" id="link-edit">EDIT THIS ENTRY</a>
    <form class="form-delete" action="/admin/news/<?= it.post._id ?>" method="POST" accept-charset="UTF-8">
      <input type="hidden" name="_method" value="delete" />
      <input type="hidden" name="_csrf" value="<?= it.csrf ?>" />
      <input class="btn-delete" type="submit" value="DELETE THIS ENTRY" />
    </form>
  <? } ?>
</div>
<div id="nav-wrap">
  <a class="btn-prev" href="<?= it.namespace ?>/news" title="Back to news list">back</a>
</div>