/* line 7, ../../../app/sass/artists/index.sass */
.news-entry {
  width: 580px;
  position: relative;
  min-height: 280px;
  padding: 24px 0 48px;
}
/* line 12, ../../../app/sass/artists/index.sass */
.news-entry img {
  display: none;
}
/* line 14, ../../../app/sass/artists/index.sass */
.news-entry img.news-thumb {
  display: block;
}

/* line 17, ../../../app/sass/artists/index.sass */
.news-date {
  top: 0;
}

/* line 20, ../../../app/sass/artists/index.sass */
.news-thumb-link {
  position: absolute;
  top: 24px;
  right: -300px;
}

/* line 25, ../../../app/sass/artists/index.sass */
.news-thumb {
  border: none;
  position: static;
  display: block;
  width: 280px;
  height: 280px;
}
