/* line 8, ../../../app/sass/artists/show.sass */
#content {
  position: relative;
  z-index: 1;
}

/* line 12, ../../../app/sass/artists/show.sass */
#main {
  display: inline;
  float: left;
  width: 600px;
  font-family: Helvetica, sans-serif;
}

/* line 17, ../../../app/sass/artists/show.sass */
#artists-entry-title {
  color: black;
  font-family: serif;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

/* line 24, ../../../app/sass/artists/show.sass */
#artist-intro {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
}
/* line 27, ../../../app/sass/artists/show.sass */
#artist-intro h1 {
  font-family: serif;
  font-size: 24px;
  line-height: 28px;
  color: black;
  margin: 0 0 16px;
}
/* line 33, ../../../app/sass/artists/show.sass */
#artist-intro p, #artist-intro h2, #artist-intro h3, #artist-intro h4, #artist-intro h5, #artist-intro h6 {
  margin: 0 0 24px;
  line-height: 1.5em;
}
/* line 36, ../../../app/sass/artists/show.sass */
#artist-intro img {
  display: block;
  margin: 0 auto 24px;
  max-width: 600px;
  max-height: 600px;
}
/* line 41, ../../../app/sass/artists/show.sass */
#artist-intro a {
  color: #6da4b2;
  text-decoration: none;
}
/* line 44, ../../../app/sass/artists/show.sass */
#artist-intro a:hover {
  text-decoration: underline;
}
/* line 46, ../../../app/sass/artists/show.sass */
#artist-intro strong {
  font-weight: bold;
}
/* line 48, ../../../app/sass/artists/show.sass */
#artist-intro em {
  font-style: italic;
}
/* line 50, ../../../app/sass/artists/show.sass */
#artist-intro ul {
  margin: 0 0 16px 64px;
  line-height: 1.5em;
}
/* line 53, ../../../app/sass/artists/show.sass */
#artist-intro ul li {
  list-style-type: disc;
}
/* line 55, ../../../app/sass/artists/show.sass */
#artist-intro ol {
  margin: 0 0 16px 64px;
  line-height: 1.5em;
}
/* line 58, ../../../app/sass/artists/show.sass */
#artist-intro ol li {
  list-style-type: decimal;
}

/* line 61, ../../../app/sass/artists/show.sass */
#social-links {
  overflow: hidden;
  *zoom: 1;
}

/* line 64, ../../../app/sass/artists/show.sass */
.social-link {
  display: inline;
  float: left;
  font-size: 14px;
  color: #6da4b2;
  text-decoration: none;
  padding: 1px 16px;
  border-right: 1px solid #6da4b2;
}
/* line 71, ../../../app/sass/artists/show.sass */
.social-link:hover {
  text-decoration: underline;
}

/* line 74, ../../../app/sass/artists/show.sass */
.social-link:first-child {
  padding: 1px 16px 1px 0;
}

/* line 77, ../../../app/sass/artists/show.sass */
.social-link:last-child {
  border: none;
}

/* line 80, ../../../app/sass/artists/show.sass */
#news {
  padding: 48px 0 0;
}

/* line 83, ../../../app/sass/artists/show.sass */
#videos-more {
  right: 52px;
}

/* line 86, ../../../app/sass/artists/show.sass */
#sidebar {
  display: inline;
  float: right;
  position: relative;
  top: -55px;
  height: 100%;
  background: #e6e6e6;
  width: 168px;
  padding: 55px 48px 48px;
  font-family: Helvetica, sans-serif;
}

/* line 96, ../../../app/sass/artists/show.sass */
#releases-list {
  padding: 10px 0 30px;
}

/* line 99, ../../../app/sass/artists/show.sass */
#release-title {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background: url('/img/common/sidebar-releases-title.png?1359778345') no-repeat left top/75px auto;
  width: 75px;
  height: 18px;
}

/* line 105, ../../../app/sass/artists/show.sass */
.release-link {
  padding: 0 16px 18px 0;
}

/* line 108, ../../../app/sass/artists/show.sass */
.release-thumb {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 111, ../../../app/sass/artists/show.sass */
.release-thumb {
  width: 160px;
  height: 160px;
}

/* line 115, ../../../app/sass/artists/show.sass */
.release-date {
  display: block;
  color: #6da4b2;
  padding: 8px 0 0;
  font-size: 14px;
}

/* line 121, ../../../app/sass/artists/show.sass */
.release-author, .release-title {
  font-size: 13px;
  line-height: 21px;
}

/* line 125, ../../../app/sass/artists/show.sass */
#releases-more {
  display: inline;
  float: right;
  position: static;
  background: url('/img/common/footer-nav-next@2x.png?1359778345') no-repeat right center/12px auto;
  font-size: 14px;
  color: #6da4b2;
  text-decoration: none;
  padding: 5px 21px 5px 0;
  margin: 0 8px 0 0;
  opacity: 0.7;
}
/* line 135, ../../../app/sass/artists/show.sass */
#releases-more:hover {
  opacity: 1;
}
