/* line 18, ../../../app/sass/common/content.sass */
#main {
  display: inline;
  float: left;
  font-family: Helvetica, sans-serif;
  width: 552px;
  padding: 0 32px 0 0;
}

/* line 24, ../../../app/sass/common/content.sass */
.block-title {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
}

/* line 28, ../../../app/sass/common/content.sass */
#news-title-link {
  background-image: url('/img/common/news-title@2x.png?1359778345');
  background-size: 66px auto;
  width: 66px;
  height: 24px;
}
/* line 33, ../../../app/sass/common/content.sass */
#news-title-link:hover {
  background-position: 0 -24px;
}

/* line 36, ../../../app/sass/common/content.sass */
.news-entry {
  position: relative;
  width: 416px;
  padding: 31px 0 17px;
}

/* line 41, ../../../app/sass/common/content.sass */
.title {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 21px;
  color: black;
}

/* line 46, ../../../app/sass/common/content.sass */
.news-entry-title {
  padding: 0 0 12px;
}

/* line 49, ../../../app/sass/common/content.sass */
.news-entry-title-link {
  color: black;
  font-family: serif;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}
/* line 55, ../../../app/sass/common/content.sass */
.news-entry-title-link:hover {
  color: #6da4b2;
}

/* line 58, ../../../app/sass/common/content.sass */
.news-entry-p {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  color: black;
  line-height: 18px;
  margin: 0 0 20px;
}

/* line 65, ../../../app/sass/common/content.sass */
.news-date {
  position: absolute;
  top: 9px;
  left: 0;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #6da4b2;
  line-height: 18px;
}

/* line 74, ../../../app/sass/common/content.sass */
.news-thumb {
  position: absolute;
  top: 10px;
  right: -136px;
  border: 5px solid #eaeaea;
  width: 120px;
  height: 120px;
}

/* line 82, ../../../app/sass/common/content.sass */
#release-title-link {
  background-image: url('/img/common/releases-title@2x.png?1359778345');
  background-size: 93px auto;
  width: 93px;
  height: 24px;
}
/* line 87, ../../../app/sass/common/content.sass */
#release-title-link:hover {
  background-position: 0 -24px;
}

/* line 90, ../../../app/sass/common/content.sass */
#releases-list {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  padding: 30px 0;
}

/* line 95, ../../../app/sass/common/content.sass */
.release-link {
  display: inline;
  float: left;
  width: 160px;
  color: black;
  padding: 0 16px 0 0;
  text-decoration: none;
}
/* line 101, ../../../app/sass/common/content.sass */
.release-link:hover {
  color: #6da4b2;
}

/* line 104, ../../../app/sass/common/content.sass */
.release-thumb {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 160px;
  height: 160px;
}

/* line 109, ../../../app/sass/common/content.sass */
#videos-title {
  padding: 0 0 16px;
}

/* line 112, ../../../app/sass/common/content.sass */
#videos-title-link {
  background-image: url('/img/common/videos-title@2x.png?1359778345');
  background-size: 79px auto;
  width: 79px;
  height: 24px;
}
/* line 117, ../../../app/sass/common/content.sass */
#videos-title-link:hover {
  background-position: 0 -24px;
}

/* line 120, ../../../app/sass/common/content.sass */
.release-date {
  display: block;
  color: #6da4b2;
  padding: 8px 0 0;
  font-size: 14px;
}

/* line 126, ../../../app/sass/common/content.sass */
.release-author, .release-title {
  font-size: 13px;
  line-height: 21px;
}

/* line 130, ../../../app/sass/common/content.sass */
.btn-more {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  position: absolute;
  right: 3px;
  background: url('/img/common/more@2x.png?1359778345') no-repeat top right/18px auto;
  width: 18px;
  height: 50px;
}

/* line 138, ../../../app/sass/common/content.sass */
#releases-more {
  top: 82px;
}

/* line 141, ../../../app/sass/common/content.sass */
#videos-more {
  top: 46px;
}

/* line 144, ../../../app/sass/common/content.sass */
#videos-list {
  position: relative;
}

/* line 147, ../../../app/sass/common/content.sass */
.video {
  display: inline;
  float: left;
  padding: 0 16px 0 0;
}

/* line 151, ../../../app/sass/common/content.sass */
.video-thumb {
  width: 248px;
  height: 140px;
}

/* line 155, ../../../app/sass/common/content.sass */
#sidebar {
  display: inline;
  float: right;
  width: 280px;
  padding: 0 48px 0 0;
}

/* line 160, ../../../app/sass/common/content.sass */
#soundcould-player, #latest-lives, #fb-fanpage {
  padding: 0 0 48px;
}

/* line 163, ../../../app/sass/common/content.sass */
#soundcould-player-title, #lives-title, #fb-fanpage-title {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  padding: 0 0 15px;
  background-repeat: no-repeat;
  background-position: top left;
}

/* line 169, ../../../app/sass/common/content.sass */
#soundcould-player-title {
  background-image: url('/img/home/sidebar-music-title.png?1359778345');
  width: 54px;
  height: 14px;
  background-size: 54px auto;
}

/* line 175, ../../../app/sass/common/content.sass */
#lives-title {
  background-image: url('/img/home/sidebar-live-title.png?1359778345');
  width: 33px;
  height: 16px;
  background-size: 33px auto;
}

/* line 181, ../../../app/sass/common/content.sass */
#fb-fanpage-title {
  background-image: url('/img/home/sidebar-facebook-title.png?1359778345');
  width: 87px;
  height: 16px;
  background-size: 87px auto;
}

/* line 187, ../../../app/sass/common/content.sass */
#nav-wrap {
  text-align: center;
  margin: 0 0 0 -48px;
  clear: both;
}

/* line 192, ../../../app/sass/common/content.sass */
#btn-prev, #btn-next {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  color: #6da4b2;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  opacity: 0.7;
}
/* line 198, ../../../app/sass/common/content.sass */
#btn-prev:hover, #btn-next:hover {
  opacity: 1;
}

/* line 201, ../../../app/sass/common/content.sass */
#btn-prev {
  background: url('/img/common/footer-nav-prev@2x.png?1359778345') no-repeat top left;
  background-size: 12px auto;
  padding: 5px 40px 5px 28px;
}

/* line 206, ../../../app/sass/common/content.sass */
#btn-next {
  background: url('/img/common/footer-nav-next@2x.png?1359778345') no-repeat top right;
  background-size: 12px auto;
  padding: 5px 28px 5px 40px;
}
