/* line 17, /Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 20, ../../../app/sass/common/layout.sass */
#wrap {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

/* line 25, ../../../app/sass/common/layout.sass */
#header {
  overflow: hidden;
  *zoom: 1;
  height: 208px;
  margin: 0 auto;
  background: white;
}

/* line 31, ../../../app/sass/common/layout.sass */
#cover {
  position: absolute;
  top: 78px;
  left: 48px;
  width: 912px;
  height: 400px;
  z-index: 2;
}

/* line 34, ../../../app/sass/common/layout.sass */
#header-overlay {
  position: absolute;
  top: 78px;
  left: 48px;
  width: 912px;
  height: 400px;
  z-index: 3;
}

/* line 37, ../../../app/sass/common/layout.sass */
#logo-wrap {
  display: inline;
  float: left;
  width: 240px;
  height: 200px;
  padding: 8px 0 0;
}

/* line 43, ../../../app/sass/common/layout.sass */
#logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  width: 240px;
  height: 200px;
  background: url('/img/common/logo@2x.png?1356691196') no-repeat;
  background-size: 240px 200px;
}

/* line 51, ../../../app/sass/common/layout.sass */
#nav {
  display: inline;
  float: right;
}

/* line 54, ../../../app/sass/common/layout.sass */
.nav-item {
  display: inline;
  float: left;
}

/* line 57, ../../../app/sass/common/layout.sass */
.nav-link {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  background-size: 120px auto;
  background-repeat: no-repeat;
  background-position: top left;
  width: 120px;
  height: 60px;
  text-decoration: none;
}
/* line 66, ../../../app/sass/common/layout.sass */
.nav-link:hover, .nav-link:active {
  background-position: 0 -60px;
}

/* line 69, ../../../app/sass/common/layout.sass */
.selected {
  background-position: 0 -60px;
}

/* line 72, ../../../app/sass/common/layout.sass */
#nav-news {
  background-image: url('/img/common/nav-news@2x.png?1356691196');
}

/* line 75, ../../../app/sass/common/layout.sass */
#nav-artists {
  background-image: url('/img/common/nav-artists@2x.png?1356691196');
}

/* line 78, ../../../app/sass/common/layout.sass */
#nav-releases {
  background-image: url('/img/common/nav-releases@2x.png?1356691196');
}

/* line 81, ../../../app/sass/common/layout.sass */
#nav-live {
  background-image: url('/img/common/nav-live@2x.png?1356691196');
}

/* line 84, ../../../app/sass/common/layout.sass */
#nav-videos {
  background-image: url('/img/common/nav-videos@2x.png?1356691196');
}

/* line 87, ../../../app/sass/common/layout.sass */
#nav-contact {
  background-image: url('/img/common/nav-contact@2x.png?1356691196');
}

/* line 90, ../../../app/sass/common/layout.sass */
#content {
  overflow: hidden;
  *zoom: 1;
  background: #ececec;
  padding: 325px 0 96px 48px;
}

/* line 95, ../../../app/sass/common/layout.sass */
#footer {
  clear: both;
  color: #aaaaaa;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  text-align: center;
  padding: 16px 0 28px;
  border-top: 1px solid #cccccc;
}
