<?= it.partial( it._assets ) ?>

<? it.title = '三十而立 sincerely music | 現場'; ?>
<? it.nav_selected = 'live'; ?>

<div id="live-list">
  <? if ( it.is_authenticated ){ ?>
    <a href="/admin/live/new" id="btn-add">ADD NEW ENTRY</a>
  <? } ?>

  <?= it.show_no_content_err( it.lives ) ?>
  <? it.lives.forEach( function ( live ){ ?>
    <div class="live-link-wrap">
      <a class="live-link" <?= it.show_live_link( live ) ?>>
        <h3 class="live-title"><?= live.title ?></h3>
        <span class="live-location"><?= live.location ?></span>
        <span class="live-date"><?= live.date ?></span>
      </a>
      <? if( it.is_authenticated ){ ?>
        <a href="/admin/live/<?= live._id ?>/edit" class="link-edit">EDIT THIS ENTRY</a>
        <form class="form-delete" action="/admin/live/<?= live._id ?>" method="POST" accept-charset="UTF-8">
          <input type="hidden" name="_method" value="delete" />
          <input type="hidden" name="_csrf" value="<?= it.csrf ?>" />
          <input class="btn-delete" type="submit" value="DELETE THIS ENTRY" />
        </form>
      <? } ?>
    </div>
  <? }); ?>
</div>

<div id="nav-wrap">
  <a class="btn-prev <?= it.is_btn_disable( it.qs_prev ) ?>" href="<?= it.namespace ?>/live<?= it.show_nav_qs( it.qs_prev ) ?>">Prev</a>
  <a class="btn-next <?= it.is_btn_disable( it.qs_next ) ?>" href="<?= it.namespace ?>/live<?= it.show_nav_qs( it.qs_next ) ?>">Next</a>
</div>