/* line 6, ../../../../app/sass/admin/news/show.sass */
#link-edit {
  background: #6da4b2 url('/img/common/admin-edit@2x.png?1356691196') no-repeat 16px 16px;
  background-size: 16px auto;
  color: white;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  height: 29px;
  width: 103px;
  padding: 19px 16px 0 46px;
  opacity: 0.8;
  position: absolute;
  top: -55px;
  right: 137px;
}
/* line 69, ../../../../app/sass/common/lib.sass */
#link-edit:hover {
  opacity: 1;
}

/* line 12, ../../../../app/sass/admin/news/show.sass */
#link-delete {
  background: #cc6666 url('/img/common/admin-delete@2x.png?1356691196') no-repeat 16px 16px;
  background-size: 16px auto;
  color: white;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  height: 29px;
  width: 123px;
  padding: 19px 16px 0 46px;
  opacity: 0.8;
  position: absolute;
  top: -55px;
  right: -48px;
}
/* line 88, ../../../../app/sass/common/lib.sass */
#link-delete:hover {
  text-decoration: none;
  opacity: 1;
}
