/* line 4, ../../../app/sass/admin/base.sass */
#admin-panel {
  position: absolute;
  top: 78px;
  right: 0;
  z-index: 4;
}

/* line 10, ../../../app/sass/admin/base.sass */
#panel-link-edit {
  background: #6da4b2 url('/img/common/admin-edit@2x.png?1356691196') no-repeat 16px 16px;
  background-size: 16px auto;
  color: white;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  height: 29px;
  width: 83px;
  padding: 19px 16px 0 46px;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
/* line 69, ../../../app/sass/common/lib.sass */
#panel-link-edit:hover {
  opacity: 1;
}

/* line 17, ../../../app/sass/admin/base.sass */
#header-form {
  position: absolute;
  top: 48px;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 50px;
  padding: 16px;
}

/* line 25, ../../../app/sass/admin/base.sass */
#header-input {
  border: 1px solid white;
  background: none;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: #aaaaaa;
  width: 190px;
  padding: 5px;
}

/* line 34, ../../../app/sass/admin/base.sass */
.error-msg {
  color: #bb322e;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  padding: 8px 0 0 6px;
}

/* line 40, ../../../app/sass/admin/base.sass */
#btn-confirm {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  border: none;
  background: #6da4b2 url('/img/common/admin-confirm@2x.png?1356691196') no-repeat 16px 16px;
  background-size: 16px auto;
  height: 48px;
  width: 48px;
  border-radius: 0;
  position: absolute;
  top: 82px;
  right: 0;
}
/* line 105, ../../../app/sass/common/lib.sass */
#btn-confirm:hover {
  cursor: pointer;
}

/* line 46, ../../../app/sass/admin/base.sass */
#link-cancel {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background: #ebebeb url('/img/common/admin-cancel@2x.png?1356691196') no-repeat 16px 16px;
  background-size: 16px auto;
  height: 48px;
  width: 48px;
  position: absolute;
  top: 82px;
  right: 48px;
}

/* line 52, ../../../app/sass/admin/base.sass */
#panel-logout-form {
  position: absolute;
  top: 0;
  right: -117px;
}

/* line 57, ../../../app/sass/admin/base.sass */
#btn-logout {
  border: none;
  background: #ebebeb url('/img/common/admin-logout@2x.png?1356691196') no-repeat 16px 16px;
  background-size: 16px auto;
  color: #555555;
  height: 48px;
  padding: 0 16px 0 46px;
  font-size: 12px;
  border-radius: 0;
}
/* line 117, ../../../app/sass/common/lib.sass */
#btn-logout:hover {
  cursor: pointer;
}
