/* line 5, ../../../app/sass/news/show.sass */
.news-entry {
  position: relative;
  padding: 21px 0 64px;
  width: 864px;
}

/* line 11, ../../../app/sass/news/show.sass */
.news-entry h1 {
  font-family: serif;
  font-size: 24px;
  line-height: 28px;
  color: black;
  margin: 0 0 16px;
}
/* line 17, ../../../app/sass/news/show.sass */
.news-entry p, .news-entry h2, .news-entry h3, .news-entry h4, .news-entry h5, .news-entry h6 {
  margin: 0 0 24px;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.5em;
}
/* line 22, ../../../app/sass/news/show.sass */
.news-entry img {
  display: block;
  margin: 0 auto 24px;
  max-width: 864px;
  max-height: 600px;
}
/* line 27, ../../../app/sass/news/show.sass */
.news-entry a {
  color: #6da4b2;
  text-decoration: none;
}
/* line 30, ../../../app/sass/news/show.sass */
.news-entry a:hover {
  text-decoration: underline;
}
/* line 32, ../../../app/sass/news/show.sass */
.news-entry strong {
  font-weight: bold;
}
/* line 34, ../../../app/sass/news/show.sass */
.news-entry em {
  font-style: italic;
}

/* line 37, ../../../app/sass/news/show.sass */
h3.news-entry-title {
  font-family: serif;
  font-size: 24px;
  line-height: 28px;
  color: black;
  margin: 0 0 32px;
}

/* line 46, ../../../app/sass/news/show.sass */
.news-date {
  position: absolute;
  top: 0;
  left: 0;
  color: #6da4b2;
  font-family: sans-serif;
}

/* line 53, ../../../app/sass/news/show.sass */
.btn-delete {
  position: absolute;
  top: 0;
  right: -300px;
}

/* line 58, ../../../app/sass/news/show.sass */
#nav-wrap {
  text-align: center;
}

/* line 61, ../../../app/sass/news/show.sass */
.btn-back {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  font-family: sans-serif;
  color: #6da4b2;
  text-decoration: none;
  background: url('/img/common/footer-nav-prev@2x.png?1355804387') no-repeat top left;
  background-size: 12px auto;
  padding: 5px 40px 5px 28px;
  opacity: 0.7;
}
/* line 7, ../../../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.btn-back {
  *display: inline;
}
/* line 70, ../../../app/sass/news/show.sass */
.btn-back:hover {
  opacity: 1;
}
