@import compass
@import ../common/lib

#admin-panel
  position: absolute
  top: 78px
  right: 0
  z-index: 4

#panel-link-edit
  +link-edit( 83px )
  position: absolute
  top: 0
  right: 0
  z-index: 1
  opacity: 1

#header-form
  position: absolute
  top: 48px
  right: 0
  background: rgba( 0, 0, 0, 0.7 )
  height: 50px
  padding: 16px

#header-input
  border: 1px solid #fff
  background: none
  font-family: $default-font
  font-size: 12px
  color: #aaa
  width: 190px
  padding: 5px

.error-msg
  color: $color-error-msg
  font-family: $default-font
  font-size: 12px
  padding: 8px 0 0 6px

#btn-confirm
  +btn-confirm
  position: absolute
  top: 82px
  right: 0

#link-cancel
  +link-cancel
  position: absolute
  top: 82px
  right: 48px

#panel-logout-form
  position: absolute
  top: 0
  right: -115px
  left: 0

#btn-logout
  +btn-logout