@import compass

$title-font: Helvetica, sans-serif
$body-font: Helvetica, sans-serif

$color-main: #000
$color-link: #6da4b2

#main
  +float-left
  font-family: $body-font
  width: 552px
  padding: 0 32px 0 0

.block-title
  +hide-text
  display: block

$news-title-width: 156px
$news-title-height: 31px

#news-title-link
  background-image: image-url( 'common/news-title@2x.png' )
  background-size: $news-title-width $news-title-height
  width: $news-title-width
  height: $news-title-height

.news-entry
  position: relative
  width: 416px
  padding: 31px 0 17px

.title
  +inline-block
  font-size: 21px
  color: $color-main

.news-entry-title
  padding: 0 0 12px

.news-entry-title-link
  color: $color-main
  font-family: serif
  font-size: 24px
  line-height: 28px
  text-decoration: none
  &:hover
    color: $color-link

.news-entry-p
  font-family: $body-font
  font-size: 13px
  color: $color-main
  line-height: 18px
  margin: 0 0 20px

.news-date
  position: absolute
  top: 9px
  left: 0
  font-family: $body-font
  font-size: 14px
  color: $color-link
  line-height: 18px

.news-thumb
  position: absolute
  top: 10px
  right: -136px
  border: 5px solid #eaeaea
  width: 120px
  height: 120px

$release-title-width: 217px
$release-title-height: 43px

#release-title-link
  background-image: image-url( 'common/releases-title@2x.png' )
  background-size: $release-title-width $release-title-height
  width: $release-title-width
  height: $release-title-height

#releases-list
  +clearfix
  position: relative
  padding: 30px 0

.release-link
  +float-left
  width: 160px
  color: $color-main
  padding: 0 16px 0 0
  text-decoration: none
  &:hover
    color: $color-link

.release-thumb
  +inline-block

.release-thumb
  width: 160px
  height: 160px

$videos-title-width: 186px
$videos-title-height: 43px

#videos-title
  padding: 0 0 16px

#videos-title-link
  background-image: image-url( 'common/videos-title@2x.png' )
  background-size: $videos-title-width $videos-title-height
  width: $videos-title-width
  height: $videos-title-height

.release-date
  display: block
  color: $color-link
  padding: 8px 0 0
  font-size: 14px

.release-author, .release-title
  font-size: 13px
  line-height: 21px

.btn-more
  +hide-text
  position: absolute
  right: 3px
  background: image-url( "common/more@2x.png" ) no-repeat top right / 18px auto
  width: 18px
  height: 50px

#releases-more
  top: 82px

#videos-more
  top: 46px

#videos-list
  position: relative

.video
  +float-left
  padding: 0 16px 0 0

.video-thumb
  width: 120px
  height: 90px

#sidebar
  +float-right
  width: 280px
  padding: 0 48px 0 0

#soundcould-player, #latest-lives, #fb-fanpage
  padding: 0 0 48px

#soundcould-player-title, #lives-title, #fb-fanpage-title
  +hide-text
  padding: 0 0 15px
  background-repeat: no-repeat
  background-position: top left

#soundcould-player-title
  background-image: image-url( "home/sidebar-music-title.png" )
  width: 54px
  height: 14px
  background-size: 54px auto

#lives-title
  background-image: image-url( "home/sidebar-live-title.png" )
  width: 33px
  height: 16px
  background-size: 33px auto

#fb-fanpage-title
  background-image: image-url( "home/sidebar-facebook-title.png" )
  width: 87px
  height: 16px
  background-size: 87px auto

#live-list
  +clearfix
  border: 1px solid $color-link
  padding: 16px 24px 20px

.live-link
  display: block
  position: relative
  padding: 10px 0 10px 42px
  border-bottom: 1px solid $color-link
  font-family: sans-serif
  font-size: 13px
  color: #000
  text-decoration: none
  line-height: 21px
  &:hover
    color: $color-link

.live-date
  position: absolute
  top: 10px
  left: 0
  color: $color-link
  margin: 0 10px 0 0

#live-more
  +float-right
  color: $color-link
  text-decoration: none
  padding: 10px 0 0
  &:hover
    text-decoration: underline