/* line 12, ../../../app/sass/contact/index.sass */
#contact-form {
  font-family: Helvetica, sans-serif;
  color: #555555;
  width: 600px;
  padding: 0 180px 0 132px;
}

/* line 18, ../../../app/sass/contact/index.sass */
.form-label {
  padding: 24px 0 10px;
  font-size: 14px;
  letter-spacing: 1px;
  display: block;
}

/* line 22, ../../../app/sass/contact/index.sass */
.contact-form-input, .contact-form-textarea {
  display: block;
  width: 100%;
  border: none;
  font-family: serif;
  font-size: 16px;
  color: #6da4b2;
  padding: 0 0 0 16px;
  height: 40px;
  max-width: 584px;
}

/* line 25, ../../../app/sass/contact/index.sass */
.contact-form-textarea {
  display: block;
  width: 100%;
  border: none;
  font-family: serif;
  font-size: 16px;
  color: #6da4b2;
  padding: 0 0 0 16px;
  height: 40px;
  max-width: 584px;
  width: 584px;
  padding: 16px 16px 0;
  line-height: 1.5em;
  height: 400px;
  max-width: 568px;
}

/* line 28, ../../../app/sass/contact/index.sass */
#btn-submit {
  display: block;
  background: #6da4b2;
  border: none;
  padding: 10px 56px;
  margin: 48px auto 0;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
}
/* line 37, ../../../app/sass/contact/index.sass */
#btn-submit:hover {
  cursor: pointer;
  opacity: 0.7;
}
