/* line 4, ../../../../app/sass/admin/home/index.sass */
#soundcould-player, #fb-fanpage {
  position: relative;
}

/* line 7, ../../../../app/sass/admin/home/index.sass */
.link-edit {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background: #6da4b2 url('/img/common/admin-edit@2x.png?1359778345') no-repeat 16px 16px;
  background-size: 16px auto;
  color: white;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  height: 29px;
  width: 48px;
  padding: 19px 16px 0 46px;
  opacity: 0.8;
  padding: 19px 0 0;
  padding: 0;
  position: absolute;
  top: -3px;
  right: 0;
  background-position: 7px 7px;
  background-size: 11px auto;
  width: 24px;
  height: 24px;
}
/* line 69, /srv/www/sin/app/sass/admin/artists/../../common/lib.sass */
.link-edit:hover {
  opacity: 1;
}
