<? it.styles.push.apply( it.styles, it._assets ); ?>

<div id="releases">
  <? if ( it.is_authenticated ){ ?>
    <a href="/admin/releases/new" id="btn-add">ADD NEW ENTRY</a>
  <? } ?>

  <?= it.show_no_content_err( it.releases ) ?>
  <? it.releases.forEach( function ( release ){ ?>
    <div class="release-link-wrap">
      <a href="<?= it.namespace ?>/releases/<?= release._id ?>" class="release-link">
        <img class="release-thumb" src="<?= release.cover ?>" alt="專輯封面">
        <span class="release-date"><?= release.release_date ?></span>
        <h3 class="release-title"><?= release.name ?></h3>
      </a>
      <? if( it.is_authenticated ){ ?>
        <form class="form-delete" action="/admin/releases/<?= release._id ?>" method="POST" accept-charset="UTF-8">
          <input type="hidden" name="_method" value="delete" />
          <input type="hidden" name="_csrf" value="<?= it.csrf ?>" />
          <input class="btn-delete" type="submit" value="DELETE THIS ENTRY" />
        </form>
      <? } ?>
    </div>
  <? }); ?>
</div>

<div id="nav-wrap">
  <a class="btn-prev <?= it.is_btn_disable( it.qs_prev ) ?>" href="<?= it.namespace ?>/releases<?= it.show_nav_qs( it.qs_prev ) ?>">prev</a>
  <a class="btn-next <?= it.is_btn_disable( it.qs_next ) ?>" href="<?= it.namespace ?>/releases<?= it.show_nav_qs( it.qs_next ) ?>">next</a>
</div>