<? it.styles.push.apply( it.styles, it._assets ); ?>

<div id="main">
  <h3 id="release-name"><?= it.release.name ?></h3>
  <span id="release-date"><?= it.release.release_date ?></span>
  <div id="release-intro">
    <?= it.markdown( it.release.desc ) ?>

    <? if( it.release.artists.length ){ ?>
      <p id="related-artists">
        相關藝人：
        <? it.release.artists.forEach( function ( artist_name, index ){ ?>
          <a href="<?= it.namespace ?>/releases?artist=<?- artist_name ?>" title="與<?= artist_name ?>相關的新聞"><?= artist_name ?></a><?= index == ( it.release.artists.length - 1 ) ? '' : ', ' ?>
        <? }); ?>
      </p>
    <? } ?>
  </div>

  <? if( it.admin_view == 'new' ){ ?>
    <form class="songs-form" action="/admin/releases/<?= it.release._id ?>/songs" method="POST" accept-charset="UTF-8">
      <?= it.partial( 'admin/songs/_fields' ) ?>
    </form>
  <? } ?>

  <div id="songs">
    <ul class="songs-list">
      <? it.songs.forEach( function ( song, index ){ ?>
        <? if(( it.admin_view == 'edit') && ( it.current_song._id == song._id )){ ?>
          <form class="songs-form-delete" action="/admin/releases/<?= it.release._id ?>/songs/<?= song._id ?>" method="POST" accept-charset="UTF-8">
            <input type="hidden" name="_method" value="delete" />
            <input type="hidden" name="_csrf" value="<?= it.csrf ?>" />
            <input class="songs-btn-delete" type="submit" value="DELETE THIS ENTRY" />
          </form>

          <form class="songs-form-edit" action="/admin/releases/<?= it.release._id ?>/songs/<?= song._id ?>" method="POST" accept-charset="UTF-8">
            <input type="hidden" name="_method" value="put" />
            <? it.ori_body = song; ?>
            <? it.ori_body.target_order = index + 1; ?>
            <?= it.partial( 'admin/songs/_fields' ) ?>
          </form>
        <? }else{ ?>
          <li class="songs-item">
            <a class="song-link" href="<?= it.namespace ?>/releases/<?= it.release._id ?>/songs/<?= song._id ?>"><?= song.title ?></a>
            <span class="song-number"><?= index + 1 ?></span>
            <span class="song-length"><?= song.duration ?></span>

            <? if( song.itunes ){ ?>
              <a class="song-itunes-link" href="<?= song.itunes ?>">Download on iTunes</a>
            <? } ?>

            <? if( it.is_authenticated ){ ?>
              <a class="link-edit" href="/admin/releases/<?= it.release._id ?>/songs/<?= song._id ?>/edit">EDIT THIS ENTRY</a>
            <? } ?>
          </li>
        <? } ?>
      <? }); ?>
    </ul>

    <!-- this if is for temp, still figuring out better way to decide when to show add link -->
    <? if( it.is_authenticated && ( it.admin_view !== 'new' ) && ( it.admin_view !== 'edit' )){ ?>
      <a href="/admin/releases/<?= it.release._id ?>/songs/new" id="btn-add">ADD NEW SONG</a>
    <? } ?>
  </div>

  <? if( it.is_authenticated ){ ?>
    <a id="link-edit" href="/admin/releases/<?= it.release._id ?>/edit">EDIT THIS ENTRY</a>
    <form class="form-delete" action="/admin/releases/<?= it.release._id ?>" method="POST" accept-charset="UTF-8">
      <input type="hidden" name="_method" value="delete" />
      <input type="hidden" name="_csrf" value="<?= it.csrf ?>" />
      <input class="btn-delete" type="submit" value="DELETE THIS ENTRY" />
    </form>
  <? } ?>
</div>

<div id="sidebar">
  <img id="release-cover" src="<?= it.release.cover ?>" alt="cover">
  <!-- soundcloud player goes here -->
  <? if( it.current_song && it.current_song.soundcloud ){ ?>
    <?= it.current_song.soundcloud ?>
  <? } ?>

  <!-- <iframe
    width="232px"
    height="59px"
    scrolling="no"
    frameborder="no"
    src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1983744&amp;color=75d0dc&amp;auto_play=false&amp;show_artwork=true">
  </iframe> -->
</div>