@import compass
@import ../../common/lib

#releases
  position: relative

#btn-add
  +link-add
  position: absolute
  top: -55px
  right: 0

.form-delete
  position: absolute
  top: 0
  right: 24px

.btn-delete
  +btn-delete