/* line 4, ../../../../app/sass/admin/artists/index.sass */
#artists {
  position: relative;
}

/* line 7, ../../../../app/sass/admin/artists/index.sass */
#btn-add {
  background: #6da4b2 url('/img/common/admin-add@2x.png?1356691196') no-repeat 16px 16px;
  background-size: 16px auto;
  color: white;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  height: 29px;
  width: 103px;
  padding: 19px 16px 0 46px;
  opacity: 0.8;
  position: absolute;
  top: -24px;
  right: 32px;
}
/* line 54, ../../../../app/sass/common/lib.sass */
#btn-add:hover {
  text-decoration: none;
  opacity: 1;
}

/* line 13, ../../../../app/sass/admin/artists/index.sass */
.form-delete {
  position: absolute;
  top: 24px;
  right: -300px;
}

/* line 18, ../../../../app/sass/admin/artists/index.sass */
.btn-delete {
  border: none;
  margin: 0;
  background: #cc6666 url('/img/common/admin-delete@2x.png?1356691196') no-repeat 16px 16px;
  background-size: 16px auto;
  color: white;
  height: 48px;
  padding: 0 16px 0 46px;
  font-size: 12px;
  border-radius: 0;
  opacity: 0.8;
}
/* line 119, ../../../../app/sass/common/lib.sass */
.btn-delete:hover {
  cursor: pointer;
  opacity: 1;
}
