/* line 8, ../../../../app/sass/admin/artists/new.sass */
#artists-form {
  font-family: Helvetica, sans-serif;
  color: #555555;
  width: 600px;
  padding: 0 180px 0 132px;
}

/* line 14, ../../../../app/sass/admin/artists/new.sass */
.form-block-wrap {
  overflow: hidden;
  *zoom: 1;
  padding: 24px 0 0;
}

/* line 18, ../../../../app/sass/admin/artists/new.sass */
.form-label {
  display: inline;
  float: left;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  padding: 24px 0 10px;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0 16px 10px 0;
}

/* line 24, ../../../../app/sass/admin/artists/new.sass */
.error {
  display: inline;
  float: left;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: red;
}

/* line 29, ../../../../app/sass/admin/artists/new.sass */
.form-tip {
  display: inline;
  float: right;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #555555;
}

/* line 34, ../../../../app/sass/admin/artists/new.sass */
#input-name, #input-thumb, #input-cover, .input-link {
  display: block;
  width: 100%;
  border: none;
  font-family: serif;
  font-size: 16px;
  color: #6da4b2;
  padding: 0 0 0 16px;
  height: 40px;
  max-width: 584px;
}

/* line 37, ../../../../app/sass/admin/artists/new.sass */
#input-intro {
  display: block;
  width: 100%;
  border: none;
  font-family: serif;
  font-size: 16px;
  color: #6da4b2;
  padding: 0 0 0 16px;
  height: 40px;
  max-width: 584px;
  width: 584px;
  padding: 16px 16px 0;
  line-height: 1.5em;
  height: 400px;
  max-width: 568px;
}

/* line 40, ../../../../app/sass/admin/artists/new.sass */
#links-wrap {
  overflow: hidden;
  *zoom: 1;
}

/* line 43, ../../../../app/sass/admin/artists/new.sass */
#link-titles {
  display: inline;
  float: left;
  width: 160px;
}

/* line 47, ../../../../app/sass/admin/artists/new.sass */
.input-link {
  max-width: 383px;
  margin: 0 0 24px;
}

/* line 51, ../../../../app/sass/admin/artists/new.sass */
#links {
  display: inline;
  float: right;
  width: 400px;
}

/* line 55, ../../../../app/sass/admin/artists/new.sass */
#btns-wrap {
  overflow: hidden;
  *zoom: 1;
  width: 98px;
  padding: 48px 0 0;
  margin: 0 auto;
}

/* line 61, ../../../../app/sass/admin/artists/new.sass */
#content-link-cancel {
  display: inline;
  float: left;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background: #ebebeb url('/img/common/admin-cancel@2x.png?1356691196') no-repeat 16px 16px;
  background-size: 16px auto;
  height: 48px;
  width: 48px;
  background-color: #d2d2d2;
}

/* line 66, ../../../../app/sass/admin/artists/new.sass */
#btn-submit {
  display: inline;
  float: left;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  border: none;
  background: #6da4b2 url('/img/common/admin-confirm@2x.png?1356691196') no-repeat 16px 16px;
  background-size: 16px auto;
  height: 48px;
  width: 48px;
  border-radius: 0;
}
/* line 105, ../../../../app/sass/common/lib.sass */
#btn-submit:hover {
  cursor: pointer;
}
