@import compass
@import ../common/lib

$default-font: Helvetica, sans-serif
$default-font-size: 14px

$form-font: serif

$color-main: #000
$color-link: #6da4b2

#contact-form
  font-family: $default-font
  color: #555
  width: 600px
  padding: 0 180px 0 132px

.form-label
  +form-label
  display: block

.contact-form-input, .contact-form-textarea
  +default-input

.contact-form-textarea
  +default-textarea

#btn-submit
  display: block
  background: $color-link
  border: none
  padding: 10px 56px
  margin: 48px auto 0
  color: #fff
  font-size: 14px
  letter-spacing: 1px
  &:hover
    cursor: pointer
    opacity: 0.7