<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><?= it.title ?></title>
    <meta name="keywords" content="<?= it.keywords || '' ?>" />
    <meta name="description" content="<?= it.description || '' ?>" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <?= it.css( it.styles ) ?>
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <h1 id="logo-wrap">
          <a id="logo" href="/" title="Go to 三十而立 homepage">三十而立</a>
        </h1>
        <div id="nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a href="/news" id="nav-news" class="nav-link <?= it.selected( 'news', it.nav_selected ) ?>" title="Go to News page">News</a>
            </li>
            <li class="nav-item">
              <a href="/artists" id="nav-artists" class="nav-link <?= it.selected( 'artists', it.nav_selected ) ?>" title="Go to Artists page">Artists</a>
            </li>
            <li class="nav-item">
              <a href="/releases" id="nav-releases" class="nav-link <?= it.selected( 'releases', it.nav_selected ) ?>" title="Go to Releases page">Releases</a>
            </li>
            <li class="nav-item">
              <a href="/live" id="nav-live" class="nav-link <?= it.selected( 'live', it.nav_selected ) ?>" title="Go to Live page">Live</a>
            </li>
            <li class="nav-item">
              <a href="/videos" id="nav-videos" class="nav-link <?= it.selected( 'videos', it.nav_selected ) ?>" title="Go to Videos page">Videos</a>
            </li>
            <li class="nav-item">
              <a href="/contact" id="nav-contact" class="nav-link <?= it.selected( 'contact', it.nav_selected ) ?>" title="Go to Contact page">Contact</a>
            </li>
          </ul>
        </div>
        <img id="cover" src="/img/cover.jpeg" alt="cover">
        <?= it.header_overlay( it.nav_selected ) ?>

        <? if ( it.is_authenticated ){ ?>
          <?= it.partial( 'admin/common/_admin_panel' ) ?>
        <? } ?>
      </div>
      <div id="content" role="main">
        <?= it.body ?>
      </div>
      <div id="footer">
        &#169; 2012 Sincerely Music Inc. All rights reserved.
      </div>
    </div>
    <?= it.js( it.scripts ) ?>
  </body>
</html>